<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bi Web Apps</title>
    </head>
    <body style="background-color:floralwhite">
        <hr/>
        <h1 style="padding:0px;margin:0px;color:beige;text-align: center;background-color: darkslategrey;">Bi Web Apps</h1>
        <hr/>
        <div>
            <ul>
                <li><a href="BiDigitalUps">BI Digital Ups</a></li>
                <li>Test React App</li>
            </ul>
        </div>
    </body>
</html>